{% load loft_tags %}

<div class="products_filter">
    <div class="container">
        <div class="row justify-content-around">
            <div class="dropdown pt-2 pt-lx-0">
                <button class="products_filter-dropdown dropdown-toggle rounded" type="button" id="dropdownColor"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    {% if not cat_name %} Подкатегории: {% else %} {{ cat_name }} {% endif %}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownColor" style="">
                    <li><a class="dropdown-item" href="?{% query_params cat=None page=1 %}">--------------------</a></li>
                    {% for cat in subcats %}
                    <li><a class="dropdown-item" href="?{% query_params cat=cat.slug page=1 %}">{{ cat.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% if request.GET.cat %}
            <div class="dropdown pt-2 pt-lx-0">
                <button class="products_filter-dropdown dropdown-toggle rounded" type="button" id="dropdownStrapType"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Модели: {{ model_name }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownStrapType" style="">
                    <li><a class="dropdown-item" href="?{% query_params model=None page=1 %}">--------------------</a></li>
                    {% for model in models %}
                    <li><a class="dropdown-item" href="?{% query_params model=model.slug page=1 %}">{{ model }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="dropdown pt-2 pt-lx-0">
                <button class="products_filter-dropdown dropdown-toggle rounded" type="button" id="dropdownSort"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Цена от: {{ request.GET.price_from }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownSort" style="">
                    <li><a class="dropdown-item" href="?{% query_params price_from=None page=1 %}">--------------------</a></li>
                    {% for price in prices %}
                    <li><a class="dropdown-item" href="?{% query_params price_from=price page=1 %}">{{ price }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="dropdown pt-2 pt-lx-0">
                <button class="products_filter-dropdown dropdown-toggle rounded" type="button" id="dropdownWatchType"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Цена до: {{ request.GET.price_to }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownWatchType" style="">
                    <li><a class="dropdown-item" href="?{% query_params price_to=None page=1 %}">--------------------</a></li>
                    {% for price in prices %}
                    <li><a class="dropdown-item" href="?{% query_params price_to=price page=1 %}">{{ price }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>