{% load static %}

<div class="container _nav">
    <div class="nav__content">
        <div class="nav__content-bars">
            <h2 class="nav__title">Меню</h2>
            <a href="#!" class="nav__bars-exit">
                <img src="{% static 'assets/icons/exit.svg' %}" alt="exit">
            </a>
        </div>
        <ul class="nav__list">
            <li>
                <a href="{% url 'main' %}" class="nav__list-links">
                    <img src="{% static 'assets/icons/home.svg' %}" alt="home">
                    Главная
                </a>
            </li>
            <li>
                <a href="./about.html" class="nav__list-links">
                    <img src="{% static 'assets/icons/aboute.svg' %}" alt="aboute">
                    О нас
                </a>
            </li>
            <li>
                <a href="{% url 'contact' %}" class="nav__list-links">
                    <img src="{% static 'assets/icons/contacts.svg' %}" alt="contacts">
                    Контакты
                </a>
            </li>
        </ul>
        <!-- /.nav__list -->
        <ul class="nav__contacts">
            <li>
                <a href="tel:89648999119" class="nav__contacts-links">
                    <i class="far fa-phone-alt"></i>
                    8 (964) 89 99 119
                </a>
            </li>
            <li>
                <a href="./registration.html" class="nav__contacts-links">
                    <i class="far fa-truck"></i>
                    Доставка
                </a>
            </li>
        </ul>
        <!-- /.nav__contacts -->

    </div>
    <!-- /.nav__content -->
</div>