{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block header %}

{% endblock header %}

{% block main %}
<main class="main">
    <div class="container">
        <section class="contact__section">
            <h1 class="contact__section-title">Свяжитесь с нами</h1>
            <div class="contact__section-content">
                <form class="contact__section-form" method="post" action="{% url 'contact' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="contact__section-inputs">
                        <div class="input__title">
                            <h2>Ваше имя</h2>
                            {{ form.name }}
                        </div>
                        <div class="input__title">
                            <h2>Ваш номер телефона</h2>
                            {{ form.phone }}
                        </div>
                    </div>
                    <h2 class="textarea__title">Сообщение</h2>
                    {{ form.text }}
                    <div class="contact__section-btns">
                        {{ form.file }}
                        <button class="btn btns__send" type="submit">Отправить</button>
                    </div>
                </form>
                <div class="contact__section-list">
                    <ul class="contact__social-list">
                        <li>
                            <a href="tel:89648999119" class="contact__social-links">
                                <img src="./assets/icons/phone.svg" alt="phone">
                                8 (964) 89 99 119
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank" class="contact__social-links">
                                <img src="./assets/icons/inst.svg" alt="insta">
                                INSTAGRAM
                            </a>
                        </li>
                        <li>
                            <a href="mailto:mebel_loft_anapa@mail.ru" target="_blank"
                               class="contact__social-links">
                                <img src="./assets/icons/mail.svg" alt="mail">
                                mebel_loft_anapa@mail.ru
                            </a>
                        </li>
                    </ul>

                    <p class="contact__adress">г. Анапа, Анапское шоссе, 30 Ж/К Черное море</p>


                </div>
            </div>
            <h1 class="contact__section-title">Адрес нашей компании</h1>
            <div class="contact__card">
                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11996.26416465754!2d69.20430054999999!3d41.26389795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1642346710525!5m2!1sru!2s"
                        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </section>
    </div>
    <!-- /.container -->
</main>
{% endblock main %}