{% extends 'base.html' %}

{% block header %}
<div class="product__slider">
    {% include 'loft/components/_product_slider.html' %}

    {% include 'loft/components/_product_parameters.html' %}

</div>
{% endblock header %}


{% block main %}
<main class="main">
    <div class="container">
        <section class="products">
            <h2 class="products__title">Похожие товары</h2>
            <div class="products__content">

                {% for product in same_products %}
                    {% include 'loft/components/_card.html' %}
                {% endfor %}

            </div>
            <!-- /.products__content -->
        </section>
        <!-- /.products -->
    </div>
    <!-- /.container -->
</main>
{% endblock main %}