{% load static %}


<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__navigate">
                <div class="footer__navigate-part">
                    <h2 class="footer__navigate-title">НАВИГАЦИЯ</h2>
                    <div class="footer__navigate-lists">
                        <ul class="footer__navigate-list">
                            <li><a href="#!" class="footer__navigate-links">Кухни</a></li>
                            <li><a href="#!" class="footer__navigate-links">Спальни</a></li>
                            <li><a href="#!" class="footer__navigate-links">Гостинные</a></li>
                        </ul>
                        <ul class="footer__navigate-list">
                            <li><a href="#!" class="footer__navigate-links">Прихожие</a></li>
                            <li><a href="#!" class="footer__navigate-links">Офисная мебель</a></li>
                            <li><a href="#!" class="footer__navigate-links">Детская</a></li>
                        </ul>
                        <ul class="footer__navigate-list">
                            <li><a href="#!" class="footer__navigate-links">Шкафы</a></li>
                            <li><a href="#!" class="footer__navigate-links">Матрасы</a></li>
                            <li><a href="#!" class="footer__navigate-links">Мягкая мебель</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer__navigate-part -->
                <div class="footer__navigate-part _right">
                    <a href="./index.html" class="footer__logo">LM</a>
                    <p class="footer__adress">г. Анапа, Анапское шоссе, 30 Ж/К Черное море</p>
                </div>
                <!-- /.footer__navigate-part _right -->
            </div>
            <!-- /.footer__navigate -->

            <div class="footer__social">
                <ul class="footer__navigate-list _short">
                    <li><a href="#!" class="footer__navigate-links">Акция</a></li>
                    <li><a href="#!" class="footer__navigate-links">Новинки</a></li>
                </ul>

                <ul class="footer__social-list">
                    <li>
                        <a href="tel:89648999119" class="footer__social-links">
                            <img src="{% static 'assets/icons/phone.svg' %}" alt="phone">
                            8 (964) 89 99 119
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" class="footer__social-links">
                            <img src="{% static 'assets/icons/inst.svg' %}" alt="insta">
                            INSTAGRAM
                        </a>
                    </li>
                    <li>
                        <a href="mailto:mebel_loft_anapa@mail.ru" target="_blank" class="footer__social-links">
                            <img src="{% static 'assets/icons/mail.svg' %}" alt="mail">
                            mebel_loft_anapa@mail.ru
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.footer__social -->
        </div>
        <!-- /.footer__content -->
    </div>
    <!-- /.container -->
</footer>
